* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

button {
  background-color: rgb(3, 102, 20);
}

.heading {
  border-radius: 30%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: relative;
  background-color: aquamarine;
}

.heading-div {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}